{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/headicon.png' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://unpkg.com/xterm/css/xterm.css" />
    <script src="https://unpkg.com/xterm/lib/xterm.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
</head>

<body>
    <nav class="flex items-center flex-shrink-0 w-full h-16 px-10 bg-white bg-opacity-75">
        <a href="../"><img src="{% static 'img/headicon.png' %}" alt="" class="w-8 h-8"></a>
        <input class="flex items-center h-10 px-4 ml-10 text-sm bg-gray-200 rounded-full focus:outline-none focus:ring" id="search" type="search" placeholder="Busca un servidor">
        <div class="ml-10 ">
            <a class="mx-2 text-sm font-semibold text-blue-700 " href="{% url 'showDashboard'%}">Dashboard</a>
            <a class="mx-2 text-sm font-semibold text-gray-600 hover:text-blue-700 " href="# ">Sobre NextServer</a>
            <a class="mx-2 text-sm font-semibold text-gray-600 hover:text-blue-700 " href="{% url 'logout'%}">Cerrar sesión</a>
        </div>
        <button class="flex items-center justify-center w-8 h-8 ml-auto overflow-hidden rounded-full cursor-pointer ">
            <img src="{% static 'img/github.png' %}" alt=" ">
        </button>
    </nav>
   
    {% block content %} {% endblock content %}
    {% block footer %} {% endblock footer %}

</body>

</html>