{% extends 'base/base-header.html' %}
{% load static %}

{% block title %} Backup Center {% endblock title %}

{% block content %} 
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="w-full lg:w-2/3 px-4 mb-8 content-center mx-auto">
    <div class="container mx-auto px-4 ">
        <h1 class="text-2xl font-bold mb-4 text-center">Servidor {{server.name}}🖥 </h1>
        <p class="text-center">IP: <span id = "ipText" >{{server.ip}}</span></p>
        <div class="bg-white shadow-lg rounded-lg p-6 overflow-auto ">
            <table class="mt-4 w-full border-collapse">
                <thead>
                    <tr class="border-b border-gray-300 text-left text-gray-600 text-sm font-medium text-center">
                        <th class="py-2 px-3 ">Nombre del backup</th>
                        <th class="py-2 px-3 ">Tipo de backup</th>
                        <th class="py-2 px-3 ">Peso</th>
                        <th class="py-2 px-3 ">Fecha</th>
                    </tr>
                </thead>
                <tbody id="table-body">
                    {% for name, value in backups.items %}
                    <tr class="border-b border-gray-300 text-gray-800 text-center">
                        <td class="py-2 px-3 ">{{name}}</td>
                        <td class="py-2 px-3 ">{{value.type}}</td>
                        <td class="py-2 px-3 ">{{value.size}}MB</td>
                        <td class="py-2 px-3 ">{{value.date}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="server-stats-panel">
    <div class="server-stats-block">
        <h3>CPU Usage</h3>
        <canvas class="server-graph" id="cpu-usage-graph"></canvas>
        <ul>
            <li><strong>Current:</strong> <span id="cpuUsageText"></span></li>
        </ul>
    </div>
    <div class="server-stats-block">
        <h3>Memory Usage</h3>
        <canvas class="server-graph" id="memory-usage-graph"></canvas>
        <ul>
            <li><strong>Current:</strong> <span id="memoryUsageText"></span></li>
        </ul>
    </div>
    <div class="server-stats-block">
        <h3>Storage</h3>
        <div class="server-pie-chart">
            <canvas id="storage-pie-chart"></canvas>
            <ul>
                <li><span>Used: </span> <span id="usedDiskText"> </span></li>
                <li><span>Free: </span> <span id="freeDiskText"> </span></li>
            </ul>
        </div>
    </div>
</div>


<script src="{% static 'js/filter.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
<script>
    const ipJS = document.getElementById("ipText").innerHTML;
const cpuUsageCtx = document.getElementById('cpu-usage-graph').getContext('2d');
const cpuUsageChart = new Chart(cpuUsageCtx, {
    type: 'line',
    data: {
        labels: ['0', '0', '0', '0', '0', '0'],
        datasets: [{
            label: 'CPU Usage',
            data: [],
            borderColor: '#2862d9',
            backgroundColor: 'rgba(40, 98, 217, 0.2)',
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true,
                suggestedMax: 100,
                ticks: {
                    callback: function(value, index, values) {
                        return value + '%';
                    }
                }
            }
        }
    }
});

const memoryUsageCtx = document.getElementById('memory-usage-graph').getContext('2d');
const memoryUsageChart = new Chart(memoryUsageCtx, {
    type: 'line',
    data: {
        labels: ['0', '0', '0', '0', '0', '0'],
        datasets: [{
            label: 'Memory Usage',
            data: [],
            borderColor: '#2862d9',
            backgroundColor: 'rgba(40, 98, 217, 0.2)',
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true,
                suggestedMax: 100,
                ticks: {
                    callback: function(value, index, values) {
                        return value + '%';
                    }
                }
            }
        }
    }
});

const storagePieCtx = document.getElementById('storage-pie-chart').getContext('2d');
const storagePieChart = new Chart(storagePieCtx, {
    type: 'pie',
    data: {
        labels: ['Used', 'Free'],
        datasets: [{
            label: 'Storage',
            data: [],
            backgroundColor: [
                '#2862d9',
                '#c2d6eb'
            ],
            borderWidth: 1
        }]
    },
    options: {
        responsive: false,
        aspectRatio: 1,
        plugins: {
            legend: {
                position: 'bottom'
            },
            tooltip: {
                callbacks: {
                    label: function(context) {
                        return context.label + ': ' + context.formattedValue + 'GB';
                    }
                }
            }
        }
    }
});

 
async function fetchData() {
    
    const response = await fetch("{% static 'json/json-' %}" + ipJS + ".json");
    const data = await response.json();
    return data;
}
setInterval(async function() {

    const file = await fetchData();
    cpuUsageChart.data.datasets[0].data = file.cpuUsage.data;
    document.getElementById("cpuUsageText").innerHTML = file.cpuUsage.data[file.memoryUsage.data.length - 1] + "%";
    cpuUsageChart.update();

    memoryUsageChart.data.datasets[0].data = file.memoryUsage.data;
    document.getElementById("memoryUsageText").innerHTML = file.memoryUsage.data[file.memoryUsage.data.length - 1] + "%";
    memoryUsageChart.update();

    storagePieChart.data.datasets[0].data[0] = file.storage.diskTotal - file.storage.diskUsed;
    storagePieChart.data.datasets[0].data[1] = file.storage.diskUsed;
    document.getElementById("freeDiskText").innerHTML = Math.round((file.storage.diskTotal - file.storage.diskUsed) * 10) / 10 + "GB";
    document.getElementById("usedDiskText").innerHTML = file.storage.diskUsed + "GB";
    storagePieChart.update();

    const currentTime = new Date();
    const labels = [];
    for (let i = 5; i >= 0; i--) {
        const time = new Date(currentTime.getTime() - i * 60 * 1000);
        const label = `${time.getHours()}:${time.getMinutes().toString().padStart(2, '0')}`;
        labels.push(label);
    }
    memoryUsageChart.data.labels = labels;
    cpuUsageChart.data.labels = labels;
    memoryUsageChart.update();

}, 1000);


</script>
{% endblock %}